
    <div class="imagePost">
        
        <img src= {{image}} alt="IMAGE" height="400" width="400">
        <h1 class="topright"> {{title}}</h1>

        <a id="poster" href ='/users/posts-by/{{userId}}'> POSTED BY: {{username}} </a>
        <p id="likes"> {{numberOfLikes}} Likes </p>


        <p class = "desc"> {{postDesc}}</p>
        

        <form action="/auth/addLike/{{_id}}" method="POST">
        <button type="submit">FAVORITE</button>
        </form>
        <a href ='/posts/{{_id}}'> View Post </a>
        
    </div>
    
